<h2>Edit this movie</h2>
<form action = "/edit_mov/<%= @movie.id %>">
  <input type = "text" name = "img" placeholder = "image source">
  <input type = "text" name = "link" placeholder = "imbd link">
  <input type = "submit">
</form>