<h2>New movie</h2>
<form action = "/create">
  <input type = "text" name = "img" placeholder = "image source">
  <input type = "text" name = "link" placeholder = "imbd link">
  <input type = "submit">
</form>